.content_preview{
  font-size:25px;
  font-family: PT Sans, Open Sans, Tahoma, Verdana, Sans-Serif;
}
.content_Maintext{
  font-size:18px;
   margin:10px;
   font-family: PT Sans, Open Sans, Tahoma, Verdana, Sans-Serif;
}
.content_NewsMaintext{
  font-size:25px;
  font-family: PT Sans, Open Sans, Tahoma, Verdana, Sans-Serif;
}
