.bodyMusic{
  grid-template-rows: 140px 40px auto 100px;
    font-family: PT Sans, Open Sans, Tahoma, Verdana, Sans-Serif;
}
.content_music_maintext{
  color:white;
  text-align: center;
  font-family: PT Sans, Open Sans, Tahoma, Verdana, Sans-Serif;
  font-size: 24px
}
.content_music_Popular{
  border: 0.1px white solid;
  margin: 10px;
  padding: 5px;
  background: #000 url(Cal.gif) no-repeat top;
   background-size: cover;
}
.content_music_PopularMaintext{
  font-family: PT Sans, Open Sans, Tahoma, Verdana, Sans-Serif;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}
.content_music_Popular_track{
  border: 0.1px white solid;
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 11fr 3fr 1fr 2fr;
}
.content_music_Popular_track_nomber{
  font-size: 28px;
  margin: 6px;
  display: grid;
  justify-content: center;
  align-content: space-evenly;
}

.hp_slide{
    width:100%;
    background:white;
    height:25px;
}
.hp_range{
    width:0;
    background:black;
    height:25px;
}
.Play_style1{
  width: 60px;
	height: 60px;
	cursor:pointer;
  display: grid;
}

.Play_style1:hover{
  opacity: 0.7;
}

.divTime{
display: grid;
align-content: center;
justify-content: space-around;
}
.divProgressName{
  display: grid;
  align-content: space-evenly;
   grid-template-rows:auto auto;
}
.divVolumMusic{
  display: grid;
  align-content: space-evenly;
   grid-template-rows:auto auto;
   justify-items: center;
   padding:10px;
}
.Volumicon{
  width:20.5px;
}
.divTime1 {
  display: grid;
  align-content: center;
  justify-content: end;
}
.divIconSave{
  display: grid;
  justify-items: center;
  align-content: space-evenly;
}
.saveIcon{
width:60px;
cursor:pointer;
}
.saveIcon:hover{
opacity: 0.7;
}
.divProgressName_Name{
  font-size: 20px;
}
.inputRangeVolum{

}
.content_music_Alltrack {
  border: 0.1px white solid;
    margin: 10px;
    padding: 5px;
    background: linear-gradient(270deg, #4da9dd, #4d69dd, #834ddd);
  background-size: 600% 600%;
   border-radius: 20px;
   display: flex;
   align-items: center;
    justify-content: center;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
  }

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

.button_SavePleylist{
  background-color:#4B0082 ;
  width: 7%;
  text-align: center;
  margin: 5px auto;
  padding: 12px;
   border-radius: 20px;
   cursor: pointer;
}
.table_track{
  margin: 10px auto;
  font-size: 24px;
  border:3px solid white;
  display:none;
}
.button_SavePleylist:hover{
background-color:black ;
}
.btn-hover {
    width: 200px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

}
